

iframe{
	border: none;
	padding: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	border: 1px solid black;	  
}
$text_color_nav: #fff;
$backGroundNav: #192f42;

// NAVIGATION BAR ============
.navBar {
	background-color: $backGroundNav;
	font-family: 'Playfair Display';
	font-size: 25px;
	color: $text_color_nav;
	font-weight: 500 !important;

	&.mobileView {
		max-width: 50px;
		width: 100vw;
		height: 50px;
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 10px;
		top: 10px;
		border: 2px solid #CDAA7F;
		border-radius: 40px;
		transition: max-width 0.4s ease, height 0.4s ease, border-radius 0.6s ease; 
		z-index: 9999;
		&.expand {
			max-width: 99%;
			height: 99.4%;
			border-radius: 0px;
			border-inline: -12px;
			right: 0px;
			top: 0px;
			// height: fit-content;
			#navMenu{
				padding: 0px !important;
			}
		}
		#navBgScn{
			display: none;
		}
	
		.hambContainer {
			padding: 10px;
			border-radius: 0px;
			// width: 100%;
			display: flex;
			justify-content: end;
	
			.hamburger-menu {
				cursor: pointer;
				width: 30px;
				height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 1px 0px;
	
				.bar {
					height: 4px;
					border-radius: 10px;
					width: 95%;
					background-color: #CDAA7F;
					border-radius: 10px;
					transition: all 0.4s ease;	
				}
				&.openHam{
					.bar {
						// background-color: #ffffff !important;
						&#bar1 {
							transform: rotate(45deg) translate(0px, 10px);
							width: 120%;
						}
						
						&#bar2 {
							transform: translate(-100px, 25px);
							width: 400%;
							height: 2px;
							margin-right: 30px;
							display: none;
						}
			
						&#bar3 {
							transform: rotate(-45deg) translate(0px, -10px);
							width: 120%;
						}
					}
				}
			}
		}
		#navMenu {
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			width: 0vw;
			flex-direction: column;
			padding-bottom: 20px;
			justify-content: center;
			align-items: center;
			transition: max-width 0.5s ease;
			img{
				height: 0vh;
				margin-bottom: 40px;
				transition: height 0.5s ease ;
			}
			a {
				text-decoration: none;
				text-align: center;
				align-items: center;
				padding: 10px;
				font-size: 25px;
				color: $text_color_nav; 
				margin-top: 10px;
				margin-bottom: 10px;
				max-width: 0px;
				opacity: 0;
				transition: max-width 1s ease;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					bottom: 20% ;
					left: 25%;
					width: 0%;
					height: 5%;
					background-color: #CDAA7F;
					transition: width 0.2s ease, height 0.2s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					height: 5%;
					width: 50%;
				}
								&:active {
					text-shadow: 0px 0px 10px #000; 
								
					&::before {
						width: 50%;
						height: 90%;
						bottom: 10%; 
						border-radius: 0;
					}
				}
			}
			&.show{
				width: 100%;
				a {
					width: 80%;
					max-width: 100%;
					opacity: 1;
				}
				img{
					height: 18vw;
				}
			} 
		}
	}
	&.biggerScreen{
		position: fixed;
		top: 0px;
		display: flex;
		width: 100%;
		height: 10vh;
		// min-height: 50px;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		border-bottom: 3px solid #CDAA7F;
		z-index: 9999;
		div#hambContainer,nav#navMenu{
			display: none;
		}
		#navBgScn {
			display: flex;
			width: 100%;
			justify-content: left;
			align-items: center;
			img{
				height: 8vh;
				max-height: 100px;
				min-height: 40px;
				margin-left: 1.5vw;
				margin-right: 6vw;
			}
			a{
				color: $text_color_nav;
				margin-right: 2vw;
				text-decoration: none !important;
				position: relative;
				z-index: 0;
				&:hover, &:active{
					text-shadow: #000;
				}
				&::before{
					content: '';
					position: absolute;
					bottom: -5px ;
					left: -10%;
					width: 0%;
					height: 15%;
					background-color: #CDAA7F;
					transition: width 0.2s ease, height 0.1s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					width: 120%;
				}
				&:active {
					text-shadow: 0px 0px 10px #000; 
			
					&::before {
						height: 100%;
						bottom: 0%; 
						border-radius: 0;
					}
				}
			}
		}
	}
}
// .hompageBody{
// 	position: relative;
	#landingSec{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Prata';
		font-weight: 500;
		width: 100%;
		background-color: #192f42;
		border-bottom: 3px solid #CDAA7F;
		padding-top: 13.3vh;
		>img{
			width: 100%;
			max-height: 67vh;
			border-bottom: 3px solid #CDAA7F;
		}
		#lndQt{
			
			font-family: 'Prata';
			font-weight: 400 !important;
			color: $text_color_nav;
			position: -webkit-sticky; /* For Safari */
			position: sticky;
			top: 340px; /* Adjust this value as needed */
			z-index: 10; /* Ensure it sits above other content */
		}
	}
		
	#marelandSect{
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #79797926;
		border-top: 2px solid #CDAA7F;
		width: 100%;
		display: flex;
		justify-content: center;
		>div#marelandCont{
			width: 85% !important;
			display: flex;
			background-color: #FFF;
			padding: 25px;
			display: flex;
			justify-content: center;
			#leftTxt {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				min-height: 35vh ;
				width: 50%;
				padding-left: 35px !important;
				>div{
					display: flex;
					justify-content: center;
					align-items: start;
					>p:not(.sctnHpTitles){
						text-align: justify;
						text-justify:newspaper;
					}
				}
				.barSep{
					width: 10px;
					// min-height: 300px;
					height: 45vh;
					background-color: #CDAA7F;
				}
			}
			#picCont{
				width: 50% !important;
				height: 100%;
				padding-left: 20px !important;
				display: flex;
				align-items: center;
				flex-wrap: no-wrap;
				gap: 7px;

				div.hlfPic{
					flex: 1 1 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 10px;
					width: 50%;
					img {
						width: 100%;
						object-fit: cover;
						&.marelandImg1{
							aspect-ratio: 2/1.3;
						}
						&.marelandImg2{
							aspect-ratio: 2/1;
						}
					}

				}
			}
		}
	}
	section#rclmtnSect{
		background-color: #E3D7C84D;
		border-top: 2px solid #CDAA7F;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		div#rclmtnsCont{
			background-color: #FFF;
			width: 85%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			div#rclmtnPicsSide{
				padding: 20px;
				width: 45%;
				height: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-around;
				div#rclmtnBigPic{
					display: flex;
					justify-content: center;
					align-items: center;
					border:  1px solid #CDAA7F;
					padding: 3px;
					img{
						width: 100%;
						max-height: 80vh;
						object-fit: cover;
						object-position: bottom left;
						aspect-ratio: 3/2;
					}
				}
				#rclmtnPicSelector{
					width: 97%;
					height: 70px;
					padding: 5px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: 1px solid #CDAA7F;
					margin-top: 10px;
					#scroller{
						display: flex;
						align-items: center;
						overflow-x: auto;
						scroll-behavior: smooth;
						height: 100%;
						img{
							object-fit: cover;
							object-position: bottom left;
							aspect-ratio: 3/2;
							&.picClicked{
								border: 3px solid #0F4C81;
							}
						}
					}
					i.scroll-button{
						cursor: pointer;
						border: 0px;
						background-color: #FFF;
						color: #CDAA7F;
						font-size: 40px;
						padding-left: 10px;
						padding-right: 10px;
						pointer-events: all;
						&.right{
							margin-left: 10px;
						}
						&.left{
							margin-left: 5px;
						}
						&.hide{
							display: flex !important;
							color: white !important;
							pointer-events: none !important;
						}
					}
					::-webkit-scrollbar {
						display: none;
					}
				}
			}
			#rclmtnDescr{
				width: 50%;
				height: 100%;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				#rclmtnDescrText{
					width: 95%;
					p{
						font-size: 18px !important;
						text-align: justify !important;
						text-justify: newspaper !important;
					}
				}
			}
		}
		img#decoboat{
			position: absolute;
			bottom: -30px !important;
			right: 20px;
			width: 220px;
		}
	}



footer{
	border-top: 2px solid #CDAA7F;
	background-color: #192f42;
	padding: 25px;
	#logoFooter{
		align-items: center;
		justify-content: space-between;
		img{
			max-width: 300px !important;
			&#olomouc{
				max-width: 270px !important;
			}
		}
	}
	p{
		text-align: justify;
		text-justify: newspaper;
		width: 50%;
		margin-bottom: 0px !important;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.sctnHpTitles { 
	color: #0F4C81;
    text-align: justify;
    font-family: "Prata";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	position: relative;
	margin-left: 15px;
	&::before{
		content: '';
		position: absolute;
		bottom: 5px ;
		left: -15px;
		width: 5px;
		height: 95%;
		background-color: #CDAA7F;
		// z-index: -1;
	}
}
.marelandBlue{
	color: #0F4C81 !important;
}
.buttonLanding{
	border: 2px solid #bb8442;
	background-color: #FFF;
	color: #bb8442;
	font-family: 'Prata';
	padding: 5px 30px;
	margin-top: 20px;
	width: fit-content;
	text-decoration: none;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 20px -15px;
	cursor: pointer;
	font-size: 1rem;
	padding: .75rem;
	-webkit-transition: all 235ms ease-in-out;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	
	  
	&:active {
		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
		-webkit-transform: translate3d(0, 2px, 0);
		transform: translate3d(0, 2px, 0);
		font-size: 1.05rem;
		font-weight: bold;
	}
	  
	&:hover {
		color:#bb7520 !important;
		text-decoration: none !important;
		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
	}
}
a.logoNav{
	&::before{
		display: none !important;
	}
	
	img{
		transform: rotate(0deg) scale(1);
		transition: transform .2s ease;

		&:hover{
			transform: rotate(0deg) scale(1.1);
		}
		&:active{
			transform: rotate(180deg) scale(1);
		}
	}
}



@media only screen and (max-width: 1560px) {	
	#marelandSect{
		>div#marelandCont{
			width: 90% !important;

			#leftTxt {
				width: 50%;
				padding-left: 20px !important;
			}
			div#picCont{
				padding-left: 20px !important;
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}
	section#rclmtnSect{
		div#rclmtnsCont{
			width: 90%;

			#rclmtnDescr{
				width: 40%;
				height: 100%;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				#rclmtnDescrText{
					p{
						font-size: 17px !important;
					}
				}
			}
		}
	}
	#lndQt{
		.textQt{
			p {
				font-size: 30px !important;
			}
		}
	}
}

@media only screen and (max-width: 1250px) {
	#marelandSect{
		>div#marelandCont{
			width: 90% !important;

			#leftTxt {
				width: 50%;
				// padding-left: 20px !important;
			}
			div#picCont{
				padding-right: 0px !important;
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}

	section#rclmtnSect{
		height: fit-content;
		div#rclmtnsCont{
			width: 95% !important;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0px 40px;
			height: fit-content;
			.barSep{
				width: 95%;
				height: 3px;
				background-color: #CDAA7F;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			#rclmtnDescr{
				width: 100%;
				padding: 40px;
				height: fit-content;
				#rclmtnDescrText{
					p{
						font-size: 17px !important;
					}
				}
			}
			div#rclmtnPicsSide{
				width: 100%;
				align-items: center;
				padding: 40px;
				div#rclmtnBigPic{
					height: 80%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 100%;
						object-fit: cover;
						object-position: bottom left;
					}
				}
				#rclmtnPicSelector{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.textQt{
		margin-left: 25vw;
		&.qtBtm{
			margin-top: 10px !important;
		}
	}
}
@media only screen and (max-width: 1100px) {
	#marelandSect{

		>div#marelandCont{
			width: 95% !important;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0px 40px;
			div#leftTxt {
				width: 100% !important;
				border-top: 3px solid #CDAA7F;
				padding: 40px;
				.barSep{
					display: none;
				}
			}
			div#picCont{
				justify-content: center;
				align-items: center;
				width: 95% !important;
				max-height: 50%;
				padding-bottom: 30px;
				
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}
	#landingSec{
		margin-bottom: 20px;
		>img{
			height: auto;
			border-bottom: 3px solid #CDAA7F;
		}
		#lndQt{
			width: 90% !important;
		}
	}
	footer{
		position: relative;
		height: 30vh !important;
		#logoFooter{
			p{
				font-size: 17px !important;
				position: absolute;
				top: 160px !important;
				width: fit-content;
				padding-left: 30px;
				padding-right: 30px;
			}
			img{
				width: 30% !important;
				max-width: 300px !important;
				position: absolute;
				top: 60px !important;
				left: 35px;
			}
			div{
				position: absolute;
				padding-bottom: 0px !important;
				top: 40px !important;
				right: 50px;
				width: 30% !important;
				img#olomouc{
					width: 100% !important;
					top: 25px !important;
					left: 2px;
				}
				p{
					font-size: 18px !important;
					position: absolute;
					top: -15px !important;
					left: 10px !important;
				}
			}
		}
		p{
			position: absolute;
			bottom: 10px;
			left: 0px;
			font-size: 14px !important;
		}
	}
}
 
@media only screen and (min-width: 901px) {
	img#decoboat{
		width: 30% ;
		bottom: -5% !important;
	}
}

@media only screen and (max-width: 900px) {
	#lndQt{		
		width: 90% !important;
		padding-left: 30px;
		padding-top: 25px;
		padding-bottom: 15px;
		p{
			font-size: 18px !important;
			position: relative;
			margin-bottom: 0px;
		}
	}
	footer{
		height: 30vh !important;
		#logoFooter{
			flex-direction: column;
			align-items: center;
			position: relative;

			>img{
				width: 50% !important;
				max-width: 250px !important;
				object-fit: contain;
				object-position: center;
				left: 0px !important;
			}
			p{
				top: 120px !important;
				left: 0px !important;
				font-size: 15px !important;
				text-align: start;
				padding: 0px !important;
			}

			div.textWhite{
				width: 50% !important;
				align-items: center;
				right: 0px ;
				img#olomouc{
					width: 100% !important;
					max-width: 250px !important;
					top: 0px !important;
				}
				p{
					font-size: 13px !important;
				}
	
			}
		}
		p{
			width: 100% !important;
			font-size: 12px !important;
			margin-bottom: 13px !important;
			text-align: justify;
			text-justify: newspaper;

		}
	}
	img#decoboat{
		width: 30% ;
		bottom: -3% !important;
	}
}

@media only screen and (min-width: 501px) {

	img#decoboat{
		width: 30% ;
		bottom: -2% !important;
	}
}

@media only screen and (max-width: 700px) {

	#landingSec{
		padding-top: 30px !important;
		height: 90vh;
		justify-content: space-around;
		> img {
			height: 65%;
			object-position:bottom center;
			object-fit: cover;
			border-bottom: 3px solid #CDAA7F !important;
			border-top: 3px solid #CDAA7F !important;
		}
		#lndQt{
			padding-right: 10px;
			width: fit-content !important;
			
			.textQt{
				margin-left: 0px !important;
				padding-bottom: 15px;
			}
			p {
				font-size: 17px !important;
			}
		} 
	} 
	.sctnHpTitles{
		margin: 5px 20px;
	}
	#marelandSect{
		padding-top: 20px !important;
		padding-bottom: 20px !important;

		>div#marelandCont{
			width: 100% !important;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0px 20px;
			div#leftTxt {
				border-top: 3px solid #CDAA7F;
				padding-top: 20px;
				padding-right: 0px;
				padding-left: 0px !important;
				justify-content: center;
				p.fontSize17{
					width: 100% !important;
				}
				.barSep{
					display: none;
				}
			}
			div#picCont{
				justify-content: center;
				align-items: center;
				width: 100% !important;
				height: auto;
				padding-left: 0px !important;
				padding-bottom: 30px;
				padding-top: 30px;
				
				div.hlfPic{
					gap: 0px;
					padding: 0px !important;
				}
			}
		}
	}
	section#rclmtnSect{
		height: fit-content;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		div#rclmtnsCont{
			width: fit-content !important;
			padding: 10px 5px !important;
			.barSep{
				width: 85%;
			}
			div#rclmtnPicsSide{
				width: 90%;
				align-items: center;
				padding: 20px 0px !important;
				div#rclmtnBigPic{
					height: 80%;
					display: flex;
					justify-content: center;
					align-items: center;

				}
				#rclmtnPicSelector{
					width: 95%;
					height: 50px;
					#scroller{
						width: 100% !important;
						padding: 0px !important;
						img{
							height: 92%;
							width: 50%;
							margin-top: 0px !important;
							margin-bottom: 0px !important;
							margin-right: 5px !important;
							margin-left: 0px !important;
						}
					}
					.scroll-button{
						display: none !important;
						width: 0px !important;
						margin: 0px !important;
						padding: 0px !important;
						&::before{
							width: 0px !important;
						}
					}
				}
			}
			#rclmtnDescr{
				width: 90%;
				padding: 10px 0px !important;
				#rclmtnDescrText{
					width: 100%;
					p{padding-right: 0px !important;}
				}
			}
		}
	}
	img#decoboat{
		width: 150px !important ;
		bottom: 0px !important;
	}
	footer{
		position: relative;
		height: 220px !important;
		#logoFooter{
			p{
				font-size: 13px !important;
				position: absolute;
				top: 80px !important;
			}
			img{
				width: 47% !important;
				position: absolute;
				top: 20px !important;
				left: 2px;
			}
			div{
				position: absolute;
				padding-bottom: 0px !important;
				top: 5px !important;
				right: 2px;
				width: 47% !important;
				img#olomouc{
					width: 100% !important;
					top: 2px !important;
					left: 2px;
				}
				p{
					font-size: 12px !important;
					position: absolute;
					top: -10px !important;
				}
			}
		}
		p{
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 0px !important;
		}
	}

}

