
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	box-sizing: border-box; /* This ensures that padding and border are included in the total width and height */
	font-family: 'Ledger';
	min-width: 380px;
}
iframe{
	border: none;
	padding: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	border: 1px solid black;	  
}


// NAVIGATION BAR ============
.navBar {
	background-color: #192f42;
	font-family: 'Bebas Neue';
	font-size: 3vh;

	&.mobileView {
		max-width: 50px;
		width: auto;
		height: 50px;
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 10px;
		top: 10px;
		border-radius: 40px;
		transition: max-width 0.5s ease-in-out; 
		z-index: 9999;
		&.expand {
			max-width: 800px;
			height: 100%;
			border-radius: 0px;
			right: 0px;
			top: 0px;
			// height: fit-content;
		}
		#navBgScn{
			display: none;
		}
	
		.hambContainer {
			padding: 10px;
			border-radius: 0px;
			width: 100%;
			display: flex;
			justify-content: end;
	
			.hamburger-menu {
				cursor: pointer;
				width: 30px;
				height: 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 2px 0px;
	
				.bar {
					height: 4px;
					border-radius: 10px;
					width: 100%;
					background-color: #CDAA7F;
					border-radius: 10px;
					transition: all 0.4s ease;	
				}
				&.openHam{
					.bar {
						// background-color: #ffffff !important;
						&#bar1 {
							transform: rotate(45deg) translate(6px, 11px);
							width: 120%;
						}
						
						&#bar2 {
							transform: translate(-100px, 25px);
							width: 400%;
							height: 2px;
							margin-right: 30px;
							display: none;
						}
			
						&#bar3 {
							transform: rotate(-45deg) translate(4px, -10px);
							width: 120%;
						}
					}
				}
			}
		}
		#navMenu {
			overflow-x: hidden;
			overflow-y: hidden;
			height: 100%;
			width: 0vw;
			flex-direction: column;
			padding-bottom: 20px;
			justify-content: center;
			align-items: center;
			transition: max-width 0.5s ease;
			img{
				height: 0vh;
				margin-bottom: 40px;
				transition: height 0.5s ease ;
			}
			a {
				text-decoration: none;
				text-align: center;
				align-items: center;
				padding: 10px;
				font-size: 25px;
				color: #dadada; 
				margin-top: 10px;
				margin-bottom: 10px;
				max-width: 0px;
				opacity: 0;
				transition: max-width 1s ease;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					bottom: 20% ;
					left: 25%;
					width: 0%;
					height: 5%;
					background-color: #0F4C81;
					transition: width 0.2s ease, height 0.2s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					height: 5%;
					width: 50%;
				}
				&:active {
					text-shadow: 0px 0px 10px #000; 
			
					&::before {
						width: 50%;
						height: 90%;
						bottom: 10%; 
						border-radius: 0;
					}
				}
			}
			&.show{
				width: 100vw;
				a {
					width: 80%;
					max-width: 100%;
					opacity: 1;
					margin-left: 30px;
				}
				img{
					position: absolute;
					left: 45%;
					top: 15%;
					height: 18vw
				}
			} 
		}
	}
	&.biggerScreen{
		display: flex;
		width: 100%;
		height: 10vh;
		min-height: 50px;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
		border-bottom: 3px solid #CDAA7F;
		div#hambContainer,nav#navMenu{
			display: none;
		}
		#navBgScn {
			display: flex;
			width: 100%;
			justify-content: left;
			align-items: center;
			position: relative;
			img{
				height: 8vh;
				max-height: 100px;
				min-height: 40px;
				margin-left: 1.5vw;
				margin-right: 6vw;
			}
			a{
				color: #FFF;
				margin-right: 2vw;
				text-decoration: none !important;
				position: relative;
				z-index: 0;
				&::before{
					content: '';
					position: absolute;
					bottom: 16% ;
					left: -15%;
					width: 0%;
					height: 25%;
					background-color: #0F4C81;
					transition: width 0.2s ease, height 0.2s ease;
					border-radius: 0px;
					pointer-events: none;
					z-index: -1;
				}
				&:hover::before {
					width: 130%;
				}
				&:active {
					text-shadow: 0px 0px 10px #000; 
			
					&::before {
						height: 100%;
						bottom: 5%; 
						border-radius: 0;
					}
				}
			}
		}
	}
}

// 
.col-12{
	padding: 0px !important;
}
#landingSec{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Prata';
	font-weight: 500;
	width: 100%;
	margin-bottom: 20px;
	>img{
		width: 100%;
		// height: auto;
		max-height: 70vh;
		border-bottom: 3px solid #CDAA7F;
	}
	#lndQt{
		margin-top: 15px;
		border: 1px solid #E3D7C833;
		background-color: #E3D7C833;
		box-shadow: 15px 18px 28px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 25px;
		padding-bottom: 15px;
		width: 70%;
		p{
			font-size: 25px;
			position: relative;
			margin-bottom: 0px;
			img{
				width: 1vw;
				position: absolute;
				bottom: 75px;
				left: -30px;
			}
		}
	}
}
	
#marelandSect{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #79797926;
	border-top: 2px solid #CDAA7F;
	width: 100%;
	display: flex;
	justify-content: center;
	>div#marelandCont{
		width: 85% !important;
		display: flex;
		background-color: #FFF;
		padding: 25px;
		display: flex;
		justify-content: center;
		#leftTxt {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			min-height: 35vh ;
			width: 50%;
			padding-left: 35px !important;
			>div{
				display: flex;
				justify-content: center;
				align-items: start;
				>p:not(.sctnHpTitles){
					text-align: justify;
					text-justify:newspaper;
				}
			}
			.barSep{
				width: 1.5vw;
				min-height: 300px;
				height: 50vh;
				background-color: #CDAA7F;
			}
		}
		#picCont{
			width: 50% !important;
			padding-left: 20px !important;
			div{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.marelandImg1{
				height: 50%;
			}
			.marelandImg2{
				height: 40%;
			}
		}
	}
}
section#rclmtnSect{
	background-color: #E3D7C84D;
	border-top: 2px solid #CDAA7F;
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	div#rclmtnsCont{
		background-color: #FFF;
		width: 85%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		div#rclmtnPicsSide{
			padding: 20px;
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			div#rclmtnBigPic{
				height: 80%;
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: bottom left;
				}
			}
			#rclmtnPicSelector{
				width: 100%;
				height: 10vh;
				padding: 10px 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border: 2px solid #CDAA7F;
				margin-top: 10px;
				#scroller{
					display: flex;
					align-items: center;
					overflow-x: auto;
					scroll-behavior: smooth;
					height: 100%;
					img{
						padding-left: 11px;
						object-fit: cover;
						object-position: bottom left;
						width: 20%;
					}
				}
				a{
					cursor: pointer;
					border: 0px;
					background-color: #FFF;
					color: #CDAA7F;
					font-size: 40px;
					padding-left: 10px;
					padding-right: 10px;
					pointer-events: all;
					&.right{
						margin-left: 10px;
					}
					&.left{
						margin-left: 5px;
					}
					&.hide{
						display: flex !important;
						color: white !important;
						pointer-events: none !important;
					}
				}
				::-webkit-scrollbar {
					display: none;
				}
			}
		}
		#rclmtnDescr{
			width: 40%;
			height: 100%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			#rclmtnDescrText{
				p{
					font-size: 18px !important;
					text-align: justify;
					text-justify: newspaper;
				}
			}
		}
	}
	img#decoboat{
		position: absolute;
		bottom: -30px !important;
		right: 20px;
		width: 220px;
	}
}
footer{
	border-top: 2px solid #CDAA7F;
	background-color: #192f42;
	padding: 25px;
	#logoFooter{
		align-items: center;
		justify-content: space-between;
	}
	p{
		text-align: justify;
		text-justify: newspaper;
		width: 50%;
		margin-bottom: 0px !important;
	}
	img{
		// width: 25%;
		height: 7vh;
	}
}

.sctnHpTitles { 
	color: #0F4C81;
    text-align: justify;
    font-family: "Bebas Neue";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	position: relative;
	margin-left: 15px;
	&::before{
		content: '';
		position: absolute;
		bottom: 5px ;
		left: -15px;
		width: 5px;
		height: 95%;
		background-color: #CDAA7F;
		// z-index: -1;
	}
}
.marelandBlue{
	color: #0F4C81 !important;
}
.buttonLanding{
	border: 2px solid #CDAA7F;
	background-color: #FFF;
	color: #CDAA7F;
	font-family: 'Bebas Neue';
	padding: 5px 30px;
	font-size: 20px;
	margin-top: 20px;
	width: fit-content;
}

@media only screen and (max-width: 1560px) {	
	#marelandSect{
		>div#marelandCont{
			width: 90% !important;

			#leftTxt {
				width: 50%;
				padding-left: 20px !important;
			}
			div#picCont{
				padding-left: 20px !important;
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}
	section#rclmtnSect{
		div#rclmtnsCont{
			width: 90%;

			#rclmtnDescr{
				width: 40%;
				height: 100%;
				padding: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				#rclmtnDescrText{
					p{
						font-size: 17px !important;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1250px) {
	#marelandSect{
		>div#marelandCont{
			width: 90% !important;

			#leftTxt {
				width: 50%;
				// padding-left: 20px !important;
			}
			div#picCont{
				padding-right: 0px !important;
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}

	section#rclmtnSect{
		height: fit-content;
		div#rclmtnsCont{
			width: 95% !important;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0px 40px;
			height: fit-content;
			.barSep{
				width: 95%;
				height: 3px;
				background-color: #CDAA7F;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			#rclmtnDescr{
				width: 100%;
				padding: 40px;
				height: fit-content;
				#rclmtnDescrText{
					p{
						font-size: 17px !important;
					}
				}
			}
			div#rclmtnPicsSide{
				width: 100%;
				align-items: center;
				padding: 40px;
				div#rclmtnBigPic{
					height: 80%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 100%;
						object-fit: cover;
						object-position: bottom left;
					}
				}
				#rclmtnPicSelector{
					width: 100%;
					height: 100%;
					#scroller{
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1100px) {
	#marelandSect{

		>div#marelandCont{
			width: 95% !important;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0px 40px;
			div#leftTxt {
				width: 100% !important;
				border-top: 3px solid #CDAA7F;
				padding: 40px;
				.barSep{
					display: none;
				}
			}
			div#picCont{
				justify-content: center;
				align-items: center;
				width: 100% !important;
				max-height: 50%;
				padding-bottom: 30px;
				
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}
	#landingSec{
		margin-bottom: 20px;
		>img{
			height: auto;
			border-bottom: 3px solid #CDAA7F;
		}
		#lndQt{
			width: 90% !important;
		}
	}
}
 
@media only screen and (min-width: 901px) {
	#landingSec #lndQt p img {
		width: 20px !important;
		bottom: 80% !important;
		left: -30px !important;
	}
	img#decoboat{
		width: 30% ;
		bottom: -5% !important;
	}
}

@media only screen and (max-width: 900px) {
	#lndQt{		
		width: 90% !important;
		padding-left: 30px;
		padding-top: 25px;
		padding-bottom: 15px;
		p{
			font-size: 18px !important;
			position: relative;
			margin-bottom: 0px;
		}
	}
	footer{
		#logoFooter{
			flex-direction: column;
			align-items: start;
			position: relative;
			img{
				width: 40%;
				&#olomouc{
					position: absolute;
					right: 0px;
				}
				margin-bottom: 20px;
			}

		}
		p{
			width: 100%;
			font-size: 12px !important;
			margin-bottom: 15px !important;
		}
	}
	img#decoboat{
		width: 30% ;
		bottom: -3% !important;
	}
}

@media only screen and (min-width: 501px) {
	#landingSec #lndQt p img {
		width: 2vw;
		bottom: 92%;
		left: -25px;
	}
	img#decoboat{
		width: 30% ;
		bottom: -2% !important;
	}
}

@media only screen and (max-width: 500px) {

	#landingSec{
		
		> img {
			height: 40vh;
			object-position:bottom;
			object-fit:cover;
			border-bottom: 3px solid #CDAA7F !important;
			z-index: -1;
		}
		#lndQt{
			padding-right: 10px;
			width: 95% !important;
			p {
				font-size: 16px !important;
				img {
					width: 3vw;
					bottom: 92%;
					left: -25px;
				}
				:last-child{
					display: inline-block;
					
					margin-bottom: 8px;
	
				}
			}
		} 
	} 
	
	#marelandSect{

		>div#marelandCont{
			width: 100% !important;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0px 40px;
			div#leftTxt {
				width: 105% !important;
				border-top: 3px solid #CDAA7F;
				padding-top: 40px;
				padding-right: 0px;
				justify-content: center;
				.barSep{
					display: none;
				}
			}
			div#picCont{
				justify-content: center;
				align-items: center;
				width: 100% !important;
				max-height: 50%;
				padding-bottom: 30px;
				padding-top: 30px;
				
				div.hlfPic{
					width: 50% !important;
				}
			}
		}
	}
	section#rclmtnSect{
		height: fit-content;
		div#rclmtnsCont{
			width: 100% !important;
			padding: 0px 0px;
			.barSep{
				width: 85%;
			}
			div#rclmtnPicsSide{
				width: 100%;
				align-items: center;
				padding: 40px;
				div#rclmtnBigPic{
					height: 80%;
					display: flex;
					justify-content: center;
					align-items: center;

				}
				#rclmtnPicSelector{
					width: 100%;
					#scroller{
						img{
							height: 100%;
							width: 50%;
						}
					}
				}
			}
		}
	}
	img#decoboat{
		width: 30% ;
		bottom: -2% !important;
	}

}

